@font-face {
    font-family: poppins-medium;
    src: url("Poppins-Medium.ttf");
}

body{
    background-image: url("images/bg.jpg");
    overflow: hidden;
    font-family: poppins-medium;

}

.chatxh1 {
    font-family: poppins-medium;
    text-align: center;
    font-size: 200px;
    color: white;
    text-shadow: 5px 5px rgba(255, 255, 255, 0.3);
    margin-top: 0;
}

.login-form {
    width: 50%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    margin-top: -15vh;
    border-radius: 25px;
}

.login-h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 2.5vh;
}

.login-inputs {
    width: 80%;
    height: 5vh;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    text-align: center;
    border-radius: 25px;
    font-size: 30px;
}

#login-password {
    margin-top: 50px;
}

#login-submit {
    width: 30%;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 999);
    border: none;
    margin-left: 35%;
    margin-top: 10vh;
    height: 10vh;
    border-radius: 25px;
}

#login-register {
    position: absolute;
    margin-top: 22.5vh;
    margin-left: -30%;
    font-size: 25px;
    border: none;
    background-color: transparent;
}

button:hover{
    cursor: pointer;
}